.logo-ypps-1-1-210 {
    position: absolute;
    top: 22px;
    left: 39px;
    width: 71px;
    height: 71px;
    object-fit: cover;
}

.putra-putri14 {
    margin-block-start: 0;
    margin-block-end: 1px;
}

.putra-putri-sriwijaya-container10 {
    position: absolute;
    top: 28px;
    left: 128px;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.04em;
    font-family: var(--font-average);
    text-align: left;
    display: inline-block;
    width: 178px;
    height: 60px;
}

.about4,
.contact4,
.home4,
.vouchers4 {
    position: relative;
    display: inline-block;
    height: 33px;
    flex-shrink: 0;
}

.home4 {
    width: 65px;
    cursor: pointer;
}

.about4,
.contact4,
.vouchers4 {
    width: 72px;
}

.contact4,
.vouchers4 {
    width: 89px;
    cursor: pointer;
}

.vouchers4 {
    width: 101px;
}

.group-child64,
.vote6 {
    position: absolute;
    top: 0;
}

.group-child64 {
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-maroon);
    width: 110px;
    height: 35px;
}

.vote6 {
    left: 30px;
    display: inline-block;
    width: 51px;
    height: 33px;
}

.rectangle-parent54 {
    position: relative;
    width: 110px;
    height: 35px;
    cursor: pointer;
}

.home-parent2 {
    position: absolute;
    top: 52px;
    left: 813px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-18xl);
    font-size: var(--font-size-5xl);
    font-family: var(--font-alata);
}

.about-desktop-child,
.about-desktop-item {
    position: absolute;
    top: 1636px;
    left: calc(50% - 5.75px);
    width: 10.67px;
    height: 80.33px;
}

.about-desktop-item {
    top: 1007px;
    left: calc(50% - 4.75px);
}

.about-desktop-inner {
    position: absolute;
    top: 1498px;
    left: 1110px;
    width: 454px;
    height: 454px;
}

.about-desktop-child1 {
    position: absolute;
    top: 125px;
    left: 915px;
    width: 563px;
    height: 563px;
}

.about-desktop-child2 {
    position: absolute;
    top: 741px;
    left: 0;
    width: 454px;
    height: 454px;
}

.about-putra-putri1,
.visi1 {
    position: absolute;
    display: inline-block;
    height: 85px;
}

.about-putra-putri1 {
    top: 196px;
    left: calc(50% - 417px);
    width: 834px;
}

.visi1 {
    top: 1177px;
    left: 367.5px;
    width: 99px;
}

.mewujudkan-ikatan-putra {
    margin: 0;
}

.mewujudkan-ikatan-putra-container {
    position: absolute;
    top: calc(50% - 101px);
    left: calc(50% - 513px);
    font-size: var(--font-size-xl);
    font-family: var(--font-alata);
    text-align: justify;
    display: inline-block;
    width: 422px;
    height: 281px;
}

.misi1 {
    position: absolute;
    top: 1177px;
    left: 979px;
    display: inline-block;
    width: 118px;
    height: 85px;
}

.membawa-perubahan-yang {
    margin-bottom: 0;
}

.mengoptimalkan-potensi-generas {
    margin: 0;
    padding-left: 21px;
}

.mengoptimalkan-potensi-generas-container {
    position: absolute;
    top: calc(50% - 101px);
    left: calc(50% + 100px);
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
    text-align: justify;
    display: inline-block;
    width: 437px;
}

.about-desktop-child3 {
    position: absolute;
    top: 352px;
    left: calc(50% - 597px);
    border-radius: var(--br-xl);
    background: linear-gradient(180deg, #d21212 19.79%, #c51e1e);
    width: 1194px;
    height: 594px;
}

.frame-child37 {
    position: relative;
    border-radius: var(--br-3xs);
    width: 369px;
    height: 432px;
    object-fit: cover;
}

.putra-putri-container1 {
    position: relative;
    display: inline-block;
    width: 438px;
    height: 432px;
    flex-shrink: 0;
}

.rectangle-parent55 {
    position: absolute;
    top: calc(50% - 935px);
    left: calc(50% - 466.5px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 126px;
    text-align: justify;
    font-size: var(--font-size-base);
    font-family: var(--font-alata);
}

.kilas-balik-pemilihan1 {
    position: absolute;
    top: 1830px;
    left: calc(50% - 645px);
    display: inline-block;
    width: 1289px;
    height: 85px;
}

.frame-child38 {
    position: relative;
    border-radius: var(--br-8xs);
    width: 419px;
    height: 235px;
    object-fit: cover;
}

.rectangle-parent56,
.rectangle-parent57 {
    position: absolute;
    top: 1964px;
    left: 63px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xl);
}

.rectangle-parent57 {
    top: 2228px;
}

.group-child65 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-maroon);
    width: 1440px;
    height: 156px;
}

.feline-lab10 {
    text-decoration: underline;
}

.copyright-2023-container10 {
    position: absolute;
    top: 78px;
    left: calc(50% - 525px);
    font-weight: 600;
    display: inline-block;
    width: 1044px;
    height: 23.94px;
}

.rectangle-parent58 {
    position: absolute;
    top: 2588px;
    left: -2px;
    width: 1440px;
    height: 156px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-montserrat);
}

.about-desktop {
    position: relative;
    background: linear-gradient( 180deg, #9b2a06 14.06%, #b05f5f 63.54%, #ddcaca 94.79%);
    width: 100%;
    height: 2744px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-37xl);
    color: var(--color-white);
    font-family: var(--font-abril-fatface);
}